/obj/
/bin/
/bin/Debug/
/.vs/
/.idea/
/packages/
/BiliBiliSubtitlesTool/obj/
/BiliBiliSubtitlesTool/bin/
/BiliBiliSubtitlesTool_Test/obj/
/BiliBiliSubtitlesTool_Test/bin/
/BiliBiliSubtitlesTool_Test/packages/

*.log
*.user